{% extends "Base/base.html" %}
{% load static %}
{% block title %}
  Product List
{% endblock title %}

{% block ProductActive%} active {% endblock %}

{% block body %}
<div class="container-fluid mt-5">
    <div class="d-flex justify-content-between mb-4">
        <h1 style="color: #003f88">Products</h1>
        <a href="{% url 'AddProduct' %}" class="btn btn-crud my-auto" >
            <strong>Add</strong>
        </a>
    </div>
    <hr/>

    <div class="table-responsive mt-5">
        <table id="projectList" class="table table-bordered">
            <thead>
                <tr>
                    <td class="fit">Id</td>
                    <td>Product Name</td>
                    <td>Price (In Rupees)</td>
                    <td class="fit">Action</td>
                </tr>
            </thead>
            <tbody>
                {% for data in products %}
                    <tr class="my-auto">
                        <td class="fit">{{ data.Id }}</td>
                        <td>{{ data.ProductName }}</td>
                        <td>&#8377; {{ data.UnitPrice }}</td>
                        <td class="fit">
                            <a href="{% url 'EditProduct' productId=data.Id %}" class="btn btn-crud my-auto">
                                <strong>Edit</strong>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block Scripts %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function () {

            $("#projectList").DataTable();
        });
    </script>
{% endblock %}